{% extends "container.html" %}
{% load i18n %}
{% load static %}
{% block stylesheet %}
    <style type="text/css">
        main{
            margin-top: 14vh!important;
        }
        #register-card {
            color: whitesmoke !important;
            border: 1px solid;
            border-radius: 1%;
            background-color: rgb(124, 7, 144);
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .12);
        }

        .md-form.input-group > input {
            color: aliceblue !important;
        }

        .input-group-text {
            color: white;
        }

        .form-header {
            color: black !important;
            font-weight: 500 !important;
        }
        input.form-control{
            width: 100% !important;
            display: block !important;
        }
        input > .Verror{
            border-bottom: #ee2200!important;
        }
        .Verror{
            ;
            text-shadow: rgba(255,126,114,0.5);
            font-size: 2.5vh;
            font-weight: 200;
            font-family: Tahoma, cursive;
            color: #db0009;
        }
        .input-success{
            border-bottom: #0b2e13!important;
        }
        {#html,#}
        {#body,#}
        {#header,#}
        {#.view {#}
        {#    height: 100%;#}
        {##}
        {##}
        {#@media (max-width: 740px) {#}
        {#    html,#}
        {#    body,#}
        {#    header,#}
        {#    .view {#}
        {#        height: 1000px;#}
        {#    }#}
        {##}
        {#@media (min-width: 800px) and (max-width: 850px) {#}
        {#    html,#}
        {#    body,#}
        {#    header,#}
        {#    .view {#}
        {#        height: 650px;#}
        {#    }#}
        {##}
        {#@media (min-width: 800px) and (max-width: 850px) {#}
        {#    .navbar:not(.top-nav-collapse) {#}
        {#        background: #1C2331 !important;#}
        {#    }#}

    </style>

{% endblock %}
{% block content %}
    <!--Main layout-->
    <main>
    {% if erreur %}
        <div class="alert">UNE ERREUR EST SURVENU</div>
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <!-- Material form register -->
                    <div class="card card-form mt-2 mb-4">

                        <!--Card content-->
                        <div class="card-body rounded-top pink darken-4">

                            <h1 class="form-header header">SIGN IN <i class="fas fa-door-open fa-lg fa-fw"></i></h1>

                            <!-- Form -->
                            <form class="pb-3 px-2" id="signin" action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                                <!-- user Name -->
                                <div class="md-form">
                                    <i class="far fa-user prefix text-white"></i>
                                    <input type="text" id="userName"
                                           class="form-control text-white" name="username">
                                    <label class="text-white" for="userName">username</label>
                                </div>
                                <!-- password -->
                                <div class="md-form">
                                    <i class="fa fa-user-lock prefix text-white"></i>
                                    <input type="password" id="Password"
                                           class="form-control text-white" name="password">
                                    <label class="text-white" for="Password">password</label>
                                </div>

                            </form>
                            <!-- Form -->

                        </div>

                        <div class="card card-form-2 mb-0 z-depth-0">
                            <div class="card-body">
                                <button class="btn btn-outline-red btn-block btn-rounded btn-block mt-4 mb-1 waves-effect z-depth-0"
                                        form="signin" type="submit">Sign in
                                </button>
                            </div>
                        </div>

                    </div>
                    <!-- Material form register -->
                </div>
                <div class="col-md-7 col-sm-12 pt-2">
                    <form id="register-card" enctype="multipart/form-data" class="form p-3" action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        <h1 class="form-header header" id="register-header">SGIN UP  <i class="fas fa-door-closed fa-lg fa-fw"></i></h1>

                        <div class="md-form input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text md-addon" id="USERNAME">USERNANE  <i
                                        class="ml-2 far fa-user fa-2x mr-1"></i>:</span>
                            </div>
                            <input type="text" class="form-control" id="username" placeholder="Username"
                                   aria-label="Username" name="username">
                        </div>

                        <div class="md-form input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text md-addon">first Name <i
                                        class="ml-2 far fa-user fa-2x mr-1"></i>:</span>
                            </div>
                            <input type="text" class="form-control" id="firstName" placeholder="first name"
                                   aria-label="First Name" name="first_name">
                        </div>

                        <div class="md-form input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text md-addon">last Name <i
                                        class="ml-2 far fa-user fa-2x mr-1"></i>:</span>
                            </div>
                            <input type="text" class="form-control" id="lastName"
                                   aria-label="First Name" placeholder="last name" name="last_name">
                        </div>

                        <div class="md-form input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text md-addon" id="email">Email <i
                                        class="fas fa-envelope ml-2 fa-2x"></i>:</span>
                            </div>
                            <input type="text" class="form-control" name="email" id="mail" placeholder="xxxx@exemple.ex"
                                   aria-label="xxxx@exemple.ex"
                                   aria-describedby="email">

                        </div>

                        <div class="md-form input-group mt-0 mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text md-addon" id="password">PASSWORD <i
                                        class="fas  mr-1 ml-3 fa-2x fa-lock"></i>:</span>
                            </div>
                            <input type="password" class="form-control" id="pass1" name="password" placeholder="************" aria-describedby="password">
                        </div>

                        <div class="md-form input-group mt-0 mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text md-addon" id="confirm_pass">CONFIRM PASSWORD <i
                                        class="fas  mr-1 ml-3 fa-2x fa-lock"></i>:</span>
                            </div>
                            <input type="password" class="form-control" id="pass2" name="pass2" placeholder="************" aria-describedby="confirm_pass">
                        </div>
                        <div class="mb-0 ml-2">
                            <div class="card-body">
                                <button class="btn btn-outline-dark-green btn-block btn-rounded btn-block mt-4 mb-1 waves-effect z-depth-0"
                                        form="register-card" type="submit">register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>

    <!--Main layout-->
{% endblock %}
{% block javascript %}
<script src=" {% static 'public/js/jquery.validate.min.js' %}"></script>
{#<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>#}
    <script>
    $(function () {


        $('form#register-card').validate({
            debug: false,
            //           onSubmit: false,
            ignore: '.ignore',
            errorClass: 'Verror',
            success: 'valide',
            errorElement : 'p',
            {#errorLabelContainer: '.register-error',#}
            rules: {
                email: {
                    required: true,
                    email: true,
                    minlength: 6,
                    maxlength: 40
                },
                username: {
                    required: true,
                    minlength: 6,
                    maxlength: 40
                },
                password: {
                    required: true,
                    minlength: 5,
                    maxlength: 100
                },
                pass2: {
                    required: true,
                    minlength: 5,
                    maxlength: 100,
                    equalTo:('#pass1')
                },
                firstname:{
                     required: true,
                    minlength: 6,
                    maxlength: 20
                },
                lastname:{
                     required: true,
                    minlength: 6,
                    maxlength: 20
                },


            },
            messages: {
                email: {
                    required: "vous devez avoir un email pour vous inscrire",
                    email: "entrez une email valide",
                    minlength: "vous email doit etre au dessus de 5 characteres",
                    maxlength: 'votre email doit etre en dessous de 40 charactere'
                },
                username: {
                    required: "vous devez avoir un nom d'utilisateur pour vous inscrire",
                    minlength: "vous nom d'utilisateur doit etre au dessus de 5 characteres",
                    maxlength: "votre nom d'utilisateur doit etre en dessous de 40 charactere"
                },
                password: {
                    required: 'le mot de passe est exigez',
                    minlength: 'votre mot de pass doit contenir au moins 5 charactere',
                    maxlength: 'votre mot de pass ne doit pas depasser 100 charactere'
                },
                pass2: {
                    required: 'la verification du mot de passe est requise',
                    minlength: 'votre mot de passe ne doit pas depasser 5 charactere',
                    maxlength: 'votre mot de passe ne doit pas depasser 100 charactere',
                    equalTo:'Vos deux mot de passe ne sont pas identique'
                },
                firstname:{
                    required: "veuillez entrez votre nom",
                    minlength: "vous nom d'utilisateur doit etre au dessus de 5 characteres",
                    maxlength: "votre nom d'utilisateur doit etre en dessous de 40 charactere"
                },
                lastname: {
                    required: "veuillez entrez votre prenom",
                    minlength: "vous nom d'utilisateur doit etre au dessus de 5 characteres",
                    maxlength: "votre nom d'utilisateur doit etre en dessous de 40 charactere"
                }

            },
            highlight: function (element, error, success) {
                console.dir(element)
                $(element).addClass('input-success')
            },
            unHighlight: function (element, error, success) {
                $(element).addClass('input-error');
            },
            invalidHandler: function (event, validator) {
                var errors = validator.numberOfInvalids();
                if (errors) {
                    var message = errors == 1 ? 'il y\' a  1 champ incorrect veuillez le remplir pour continuer ' : 'vous avez ' + errors + ' chapms incorrect';
                    var alert="<div class=\"alert alert-danger alert-dismissible fade show\" id=\"alert\" role=\"alert\" \><button type=\"button\"  data-dismiss=\"alert\" aria-label=\"alert\"> <span aria-hidden=\"true\">\&times;</span></button> \<a href=\"#\" class=\"alert-link\"> "+message+"\</div>"
                    $(alert).insertBefore('.container')
                } else {
                    alert('erreur systeme')
                }
            }
        })
    })
</script>
{% endblock %}